.header {
	position: relative;
	overflow: hidden;
	background: url(/assets/backgrounds/h_img.jpg);
    min-height: 100%;
    background-position: center top; 
    background-repeat: no-repeat; 
    background: #1b1e7b;
    background-size: cover;
}
.logo-img {
    width: 70px;
  }

.header .text-container {
	margin-bottom: 4rem;
	text-align: center;
}
.uppercase {
	text-transform: uppercase;
    text-align: center;
}
.h1-large {
	margin-bottom: 1.375rem;
	color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.header .p-large {
	margin-bottom: 2rem;
	color: #ffffff;
    text-transform: uppercase;
}
.p-white {
	color: #ffffff;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centericon {
    padding-top: 100px;
    text-align: center;
  }
  /*About us*/
.basic2 {
	padding-top: 2rem;
	padding-bottom: 3.75rem;
}

.basic-1 .text-container {
	text-align: center;
}

.basic-1 h3 {
	margin-bottom: 1rem;
}

.basic-1 .p-large {
	margin-bottom: 2.25rem;
}
/*Services*/
.serve {
	position: relative;
	overflow: hidden;
	height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background: #1b1e7b;
    background-size: cover;
}
.icon-img {
    width: 100px;
  }

.grid-container {
    display: grid;
    grid-gap: 2em;
    padding: 3em;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
.grid-container > div {
    text-align: center;
    padding: 20px 20px;
    grid-gap: 2em;
}
.toggle {
  height:48px;
  line-height:48px;
}
.toggle .image {
  vertical-align:middle;
  display:inline-block;
  height:48px;
  width:48px;
  background:url("http://icons.iconarchive.com/icons/pixelmixer/basic/48/plus-icon.png");
}
.toggle .text {
  margin-left : 10px;
}
  /*Portfolio*/
.h6 {
    color:black
}

img {
    width: 100%;
  }
.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 32px;
    padding-bottom: 2em;
}
  

/*Contact form*/
textarea { height: auto; }
input {
    background-color:transparent !important;
    border-color: white;  
 }

textarea {
  background-color:transparent !important;
  border-color: white; 
 }
textarea::placeholder {
  color: #fff;  
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color:white;
  }
.icon-img2 {
  width: 30px;
}
#hover1, #hover2, #hover3, #hover4, #hover5, #hover6, #hover7, #hover8 {
  display:none;
  width: 80%;
  height: 80%;
  margin: 8% 6%;
  position: absolute;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  /* text-align: center;
}
