.header {
	position: relative;
	overflow: hidden;
	background: url(/assets/backgrounds/h_img.jpg);
    min-height: 100%;
    background-position: center top; 
    background-repeat: no-repeat; 
    background: #1b1e7b;
    background-size: cover;
}

.header .text-container {
	margin-bottom: 4rem;
	text-align: center;
}
.uppercase {
	text-transform: uppercase;
}
.h1-large {
	margin-bottom: 1.375rem;
	color: #ffffff;
    text-transform: uppercase;
}

.header .p-large {
	margin-bottom: 2rem;
	color: #ffffff;
    text-transform: uppercase;
}
.p-white {
	color: #ffffff;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centericon {
    padding-top: 100px;
   
    text-align: center;
  }
  /*About us*/
.basic2 {
	padding-top: 2rem;
	padding-bottom: 3.75rem;
}

.basic-1 .text-container {
	text-align: center;
}

.basic-1 h3 {
	margin-bottom: 1rem;
}

.basic-1 .p-large {
	margin-bottom: 2.25rem;
}
.serve {
	position: relative;
	overflow: hidden;
	height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background: #1b1e7b;
    background-size: cover;
}